#social-login {
    .linked-account {
        color: var(--text-color);
    }
}

#upload-tokens {
    form input[type="text"] {
        padding: 5px;
    }

    .upload-tokens-list {
        display: flex;
        flex-direction: column;
        gap: 5px;

        margin-top: 5px;
        padding-bottom: 5px;

        border: 2px solid var(--menu-border-color);
        border-radius: 5px;

        .upload-token-entry {
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: space-between;

            border-top: 1px solid var(--menu-border-color);
            padding: 5px;

            .info-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .nickname {
                    font-weight: bold;
                    font-size: large;
                }

                .extra-info {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                }
            }

            code {
                user-select: all;
            }
        }
    }
}

#invite-codes {
    .codes {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .code {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            max-width: 800px;

            border-top: 1px solid var(--menu-border-color);
            padding: 10px;

            .code-text {
                user-select: all;
                display: flex;
                align-self: center;
                overflow-wrap: break-word;
                word-break: break-all;
                max-width: 100%;

                &:hover {
                    border-color: var(--text-color);
                }
            }

            .info {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-self: center;

                padding-left: 10px;

                .uses-left,
                .invite-code-expires {
                    display: flex;
                    align-items: center;

                    border-right: 1px solid var(--menu-border-color);
                    padding-right: 10px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #invite-codes .codes .code {
        flex-direction: column !important;
        gap: 10px;
    }
}
