.git
.gitignore

hostling
result
.direnv
tmp
data
hostling-data
hostling.db
public/dist
frontend/node_modules
frontend/dist

.env
.envrc
config.toml
dev.toml

Dockerfile
.dockerignore
docker-compose.yml
flake.nix
flake.lock
build.nix
module.nix
nix
.vscode
.DS_Store