<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "header.gohtml" . }}
    <link rel="stylesheet" href="/public/styles/common.css">
    <link rel="stylesheet" href="/public/styles/login.css">
    {{ template "meta-title.gohtml" "Login" }}
</head>

<body>
    {{ template "toolbar.gohtml" . }}

    <main>
        <div class="container">
            <h1>Login</h1>

            {{ if .NoProvidersConfigured }}
            <div class="warning-modal">
                <p><strong>Server Configuration Error:</strong> No authentication providers are configured. Please contact the server administrator to set up hostling correctly.</p>
            </div>
            {{ end }}

            {{ range .Providers }}
                <p class="provider">
                    <a class="social-login" href="/api/auth/login/{{ .Name }}">
                        <svg class="lucide-icon login-provider-icon" viewBox="0 0 24 24">
                            <use href="/public/assets/lucide-sprite.svg#{{ .Icon }}" />
                        </svg>
                        <span>Login with {{ .Name }}</span>
                    </a>
                </p>
            {{ end }}
        </div>
    </main>
</body>

</html>