<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "header.gohtml" . }}
    <link rel="stylesheet" href="/public/styles/common.css">
    <link rel="stylesheet" href="/public/styles/user.css">
    <link rel="stylesheet" href="/public/dist/fileLibrary.css">
    {{ template "meta-title.gohtml" "User" }}
</head>

<body>
    {{ template "toolbar.gohtml" . }}

    <main>
        <div class="container">
            <h1>User</h1>

            <setting-group id="social-login">
                <div class="setting-group-header">
                    <h2>Social login</h2>
                </div>

                <div class="setting-group-body">
                    {{ if .NoProvidersConfigured }}
                    <div class="warning-modal">
                        <p><strong>Server Configuration Error:</strong> No authentication providers are configured. You will not be able to log in after your session expires. Please contact the server administrator to set up hostling correctly.</p>
                    </div>
                    {{ else if .UnlinkedAccount }}
                    <div class="warning-modal">
                        <p>Link your account with at least one platform otherwise you won't be able to login after this!
                        </p>
                    </div>
                    {{ end }}

                    {{ if .GithubEnabled }}
                    {{ if .LinkedWithGithub }}
                    <a href="https://github.com/{{ .GithubUsername }}" target="_blank" class="linked-account">
                        <svg class="lucide-icon" viewBox="0 0 24 24">
                            <use href="/public/assets/lucide-sprite.svg#github" />
                        </svg>
                        <span>{{ .GithubUsername }}</span>
                    </a>
                    {{ else }}
                    <p><a href="/api/auth/link/github">Link with GitHub</a></p>
                    {{ end }}
                    {{ end }}

                    {{ if .OIDCEnabled }}
                    {{ if .LinkedWithOIDC }}
                    <div class="linked-account">
                        <svg class="lucide-icon" viewBox="0 0 24 24">
                            <use href="/public/assets/lucide-sprite.svg#key-round" />
                        </svg>
                        <span>{{ .OIDCUsername }}</span>
                    </div>
                    {{ else }}
                    <p><a href="/api/auth/link/openid-connect">Link with OpenID Connect</a></p>
                    {{ end }}
                    {{ end }}
                </div>
            </setting-group>

            <setting-group id="files">
                <div id="file-library"></div>
            </setting-group>

            <setting-group id="upload-tokens">
                <div class="setting-group-header">
                    <h2>Upload tokens</h2>
                </div>

                <div class="setting-group-body">
                    <p>For script usage, its recommended to give programs or scripts specific tokens instead of general ones
                        for
                        security purposes.</p>

                    <form action="/api/account/upload_token" method="POST" enctype="multipart/form-data">
                        <input type="text" name="nickname" placeholder="Nickname">
                        <input class="create-button" type="submit" value="Create upload token" autocomplete="off">
                    </form>

                    {{ if .UploadTokens }}
                    <div class="upload-tokens-list">
                        {{ range .UploadTokens }}
                        <div class="upload-token-entry">
                            <div class="info-row">
                                <div class="nickname">{{ .Nickname }}</div>

                                <div class="extra-info">
                                    {{ if .LastUsed }}
                                    <div>Last used: <span title="{{ formatTimeDate .LastUsed }}">{{ relativeTime .LastUsed
                                            }}</span></div>
                                    {{ else }}
                                    <div>Last used: Never</div>
                                    {{ end }}

                                    <button class="delete-button" onclick="confirmDeleteUploadToken('{{ .Token }}')">Delete</button>
                                </div>
                            </div>

                            <div><code>{{ .Token }}</code></div>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </setting-group>

            {{ if .InviteCodes }}
            <setting-group id="invite-codes">
                <div class="setting-group-header">
                    <h2>Invite codes</h2>
                </div>

                <div class="setting-group-body">
                    <p>Shareable account registration codes on your account. You are soley responsible for any users you
                        invite.
                    </p>

                    <div class="codes">
                        {{ range .InviteCodes }}
                        <div class="code">
                            <code class="code-text">{{ .Code }}</code>
                            <div class="info">
                                <div class="uses-left">Uses left {{ .Uses }}</div>
                                <div class="invite-code-expires" title="{{ formatTimeDate .ExpiryDate }}">Expires {{ relativeTime .ExpiryDate }}</div>
                                <button class="delete-button" onclick="confirmDeleteInvite('{{ .Code }}')">Delete</button>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </setting-group>
            {{ end }}

            <setting-group id="account-settings">
                <div class="setting-group-header">
                    <h2>Account</h2>
                </div>

                <div class="setting-group-body">
                    <div class="account-settings-button-row">
                        <button class="delete-button" onclick="confirmDeleteAccount()">Delete my account</button>
                        <button class="delete-button" onclick="confirmDeleteAllFiles()">Delete all files</button>
                    </div>
                </div>
            </setting-group>
        </div>
    </main>

    <footer>
        <script type="module" src="/public/js/user.js"></script>
        <script type="module" src="/public/dist/fileLibrary.js"></script>
    </footer>
</body>

</html>
