<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "header.gohtml" . }}
    <link rel="stylesheet" href="/public/styles/common.css">
    <link rel="stylesheet" href="/public/styles/admin.css">
    {{ template "meta-title.gohtml" "Admin" }}
</head>

<body>
    {{ template "toolbar.gohtml" . }}

    <main>
        <div class="container">
            <h1>Admin</h1>

            <setting-group id="server-config-panel">
                <div class="setting-group-header">
                    <h2>Server info</h2>
                </div>

                <div class="setting-group-body">
                    <p>Max upload size: <span title="{{ .MaxUploadSize }} bytes">{{ humanizeBytes .MaxUploadSize }}</span>
                    </p>
                    <p>Hostling version: {{ .Version }}</p>
                </div>
            </setting-group>

            <setting-group id="users-panel">
                <div class="setting-group-header">
                    <h2>Users</h2>
                </div>

                <div class="setting-group-body">
                    <div class="users-grid">
                        {{ range .Accounts }}
                        <div class="user-card">
                            <div class="top-row">
                                <div class="left">User {{ .ID }}</div>
                                <div class="right">
                                    {{ if .You }}<div class="badge">You</div>{{ end }}
                                    <div class="badge">{{ .AccountType }}</div>
                                </div>
                            </div>

                            <div class="middle-row">
                                <div class="entry">
                                    <div class="name">
                                        <svg class="lucide-icon" viewBox="0 0 24 24">
                                            <use href="/public/assets/lucide-sprite.svg#github" />
                                        </svg>
                                        <span>Github</s>
                                    </div>
                                    <div class="value">{{ .GithubUsername }}</div>
                                </div>
                                <div class="entry">
                                    <div class="name">
                                        <svg class="lucide-icon" viewBox="0 0 24 24">
                                            <use href="/public/assets/lucide-sprite.svg#calendar" />
                                        </svg>
                                        <span>Creation</span>
                                    </div>
                                    <div class="value" title="{{ formatTimeDate .CreatedAt }}">{{ relativeTime .CreatedAt }}</div>
                                </div>
                                <div class="entry">
                                    <div class="name">
                                        <svg class="lucide-icon" viewBox="0 0 24 24">
                                            <use href="/public/assets/lucide-sprite.svg#calendar" />
                                        </svg>
                                        <span>Last activity</span>
                                    </div>
                                    <div class="value" title="{{ formatTimeDate .LastActivity }}">{{ relativeTime .LastActivity }}
                                    </div>
                                </div>
                                <div class="entry">
                                    <div class="name">
                                        <svg class="lucide-icon" viewBox="0 0 24 24">
                                            <use href="/public/assets/lucide-sprite.svg#user" />
                                        </svg>
                                        <span>Invited by</span>
                                    </div>
                                    <div class="value">{{ .InvitedBy }}</div>
                                </div>
                                <div class="entry">
                                    <div class="name">
                                        <svg class="lucide-icon" viewBox="0 0 24 24">
                                            <use href="/public/assets/lucide-sprite.svg#hard-drive" />
                                        </svg>
                                        <span>Space used</span>
                                    </div>
                                    <div class="value" title="{{ .SpaceUsed }} bytes">{{ humanizeBytes .SpaceUsed }}</div>
                                </div>
                                <div class="entry">
                                    <div class="name">
                                        <svg class="lucide-icon" viewBox="0 0 24 24">
                                            <use href="/public/assets/lucide-sprite.svg#file" />
                                        </svg>
                                        <span>Files uploaded</span>
                                    </div>
                                    <div class="value">{{ .FilesUploaded }}</div>
                                </div>
                                <div class="entry">
                                    <div class="name">
                                        <svg class="lucide-icon" viewBox="0 0 24 24">
                                            <use href="/public/assets/lucide-sprite.svg#key" />
                                        </svg>
                                        <span>Sessions/Upload tokens</span>
                                    </div>
                                    <div class="value">{{ .SessionsCount }}/{{ .UploadTokensCount }}</div>
                                </div>
                            </div>

                            <div class="bottom-row">
                                {{ if not .You }}
                                <button class="delete-button" onclick="confirmDeleteUser('{{ .ID }}')">Delete user</button>
                                {{ end }}
                                <button class="delete-button" onclick="confirmDeleteFiles('{{ .ID }}')">Delete files</button>
                                <button class="delete-button" onclick="confirmDeleteSessions('{{ .ID }}')">Delete sessions</button>
                                <button class="delete-button" onclick="confirmDeleteUploadTokens('{{ .ID }}')">Delete upload tokens</button>
                                <button class="create-button" onclick="giveInvite('{{ .ID }}')">Give invite token</button>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </setting-group>
        </div>
    </main>

    <footer>
        <script type="module" src="/public/js/admin.js"></script>
    </footer>
</body>

</html>